# ==============================
# PYTHON
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# VIRTUAL ENV
# ==============================
venv/
.env/

# ==============================
# MAC OS
# ==============================
.DS_Store

# ==============================
# JUPYTER (if any)
# ==============================
.ipynb_checkpoints/

# ==============================
# LOG FILES
# ==============================
*.log

# ==============================
# ENV VARIABLES / SECRETS
# ==============================
.env
.env.*

# ==============================
# IDE FILES
# ==============================
.vscode/
.idea/

# ==============================
# MODEL FILES (OPTIONAL)
# ==============================
# Uncomment if you DON'T want to push trained models
# artifacts/
# *.pkl

# ==============================
# STREAMLIT CACHE
# ==============================
.streamlit/

# ==============================
# TEMP FILES
# ==============================
*.tmp
*.swp